streamlit

langchain
langchain-core
langchain-community
langchain-groq
langchain-tavily
langchain-chroma

langgraph
langgraph-checkpoint-sqlite

chromadb
rank-bm25==0.2.2
pypdf
sentence-transformers

torch
torchvision

python-dotenv
ragas
